@font-face {
    font-family: Playfair Display;
    src: url('C:/Users/Rakha Sehat/Downloads/Compressed/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

body{
    padding: 0;
    margin: 0 auto;
    background-color: #C6BEBE;
    box-sizing: border-box;
  }

  h2{
    font-family: 'Playfair Display', cursive;
    color: grey;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .form{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate( -50%, -50%);
    width: 350px;
    height: 340px;
    padding: 5px 80px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
  }

  input{
    width: 70%;
    font-size: 20px;
  }

  .userbox{
    position: absolute;
    right: 13%;
    top: 34%;
    border: 0;
    padding-left: 10px;
    border: 1px solid #eee;
    color: black;
    background: #f5f5f5;
    outline: none;
    height: 40px;
  }

  .userbox::placeholder{
      color: grey;
  }

  .passbox{
    position: absolute !important;
    right: 13%;
    border: 0;
    border: 1px solid #eee;
    top: 50%;
    color: black;
    padding-left: 10px;
    background: #f5f5f5;
    outline: none;
    height: 40px;
  }

  .passbox::placeholder{
    color: grey;
  }

  #login{
    box-sizing: border-box;
    position: absolute;
    right: 15%;
    bottom: 10%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 0px #c1524e;
  }

  #login[value="Login"]{
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
  }

  #login:active{
    transition: 0.2s;
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

  #login:hover{
    background-color: #FE5757;
    transition: 0.3s;
  }

  #login[value="Login"]:hover{
    color: white;
  }

  .icon{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15%;
    left: 36%;
  }

  .show{
    height: 20px;
    position: absolute;
    left: -18%;
    top: 66%;
    outline: none;
  }

p{
  font-weight: bold;
  position: absolute;
  top: 62%;
}
